@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,900&display=swap');
$fontfamily: 'Roboto', sans-serif;

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    z-index: 10;
    li {
        list-style: none;
        font-size: 19px;
        width: 70%;
        display: flex;
        justify-content: space-between;
        font-family: $fontfamily;
        font-weight: lighter;
        margin-bottom: 20px;
        transition: 0.3s ease;
       
        span {
            display: flex;
            width: 80%;
            margin-left: 10px;
            font-weight: 400;
        }
        svg {
            width: 25px;

        }
    }        
    li:hover {
        cursor: pointer;
        color: rgb(228, 226, 226);
    }
    
    .titlenav {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 80%;
        height: 20%;
        text-align: center;
        font-weight: 900;
        h1 {
        cursor: pointer;
            font-family: $fontfamily;

        }
    }
    .list {
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 50%;
        align-items: flex-start;
        justify-content: start;
        li {
            margin-bottom: 30px;
        }
    }
    .settings {
        width: 80%;
        height: 25%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}
#form-input-project {
    font-family: $fontfamily;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 15px;
    height: 25%;
    margin-bottom: 25px;
    label {
        margin: 5px;
    }
    input {
        margin: 5px;
    }
    #submit-name-project{
        background-color: #aed6f1 ;
        color: white;
        border: none;
        padding: 5px;
        border-radius: 4px;
        cursor: pointer;
    }
}
#settings-options {
    display: none;
    height: 100%;

}
#night-mode{
    display: flex;
    align-items: center;
    transition: 0.3s ease;
    height: 50%;
    span {
        margin-left: 4px;
        font-family: $fontfamily;
    }
    svg{
        cursor: pointer;
        margin-left: 4px;
    }
}
#night-mode:hover {
    cursor: pointer;
    color: gray;
}
#lag-en {
    height: 50%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    transform: translateY(10px);
    span {
        font-family: $fontfamily;
        margin-left: 4px;
    }
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
  }
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }