@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,900&display=swap');


@import './navbar','./content','./jsCalendar.scss','./calendar';



$fontfamily: 'Roboto', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color:  #f7fcff  ;
}
body{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    footer {
        align-self: center;
        justify-self: flex-end;
        width: 20%;
        display: flex;
        height: 80px;
        justify-content: center;
        align-items: flex-end;
        font-family: $fontfamily;
        div{
            margin-left: 5px;
            a {
                margin: 5px;
            }
        }
        svg {
            transition: 0.3s ease;
        }
        svg:hover {
            transform: scale(1.1);
        }
    }
}

.container {

    margin-top: 50px;
    background-color: white;
    width: 65%;
    height: 80vh;
    border-radius: 15px;
    display: flex;
    
    .content {
        width: 80%;
    }
}


@keyframes rotate {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% { 
      -webkit-transform: rotate(225deg);
    }
  }
  
 .rotate
  {
      animation: rotate 1s forwards ;
  }
  @keyframes return {
    0% {
      -webkit-transform: rotate(225deg);
    }
    100% { 
      -webkit-transform: rotate(360deg);
    }
  }
  
 .return
  {
      animation: return 1s forwards ;
  }
 


  @keyframes down {
      0% {
          transform:translateY(-50px);
          opacity: 0;
      }
    100% {
        transform:translateY(0px);
        opacity: 1;

    }
    
   
}
.down {
    animation: down 1s forwards;
}

@keyframes up {
    0% {
        transform:translateY(0px);
        opacity: 1;
    }
  100% {
      transform:translateY(-50px);
      opacity: 0;

  }
}
.up{
    animation: up 1s forwards;

}
@keyframes down1 {
    0% {
        transform:translateY(-100px);
        opacity: 1;
    }
  100% {
      transform:translateY(0px);
      opacity: 1;

  }
}

.down1 {
    animation: down1 1s forwards;
}
@keyframes slideLeft {
    0% {
        transform: translateX(0px);
        opacity: 1;
        z-index: 1;
    }
    100%{
        transform: translateX(-150px);
        opacity: 0;
        z-index: 1;

    }
}
@keyframes slideLeft2 {
    0%{
        transform: translateX(150px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;

    }
}
.slideLeft{
    animation: slideLeft 0.5s forwards;
}
.slideLeft2{
    animation: slideLeft2 0.5s forwards;
}