@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,300;1,900&display=swap');

$fontfamily: 'Roboto', sans-serif;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color:  #f7fcff  ;
}
body{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    footer {
        align-self: center;
        justify-self: flex-end;
        width: 20%;
        display: flex;
        height: 80px;
        justify-content: center;
        align-items: flex-end;
        div{
            margin-left: 5px;
            a {
                margin: 5px;
            }
        }
    }
}

.container {

    margin-top: 50px;
    background-color: white;
    width: 65%;
    height: 80vh;
    border-radius: 5px;
    display: flex;
    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 20%;
        li {
            list-style: none;
            font-size: 19px;
            width: 80%;
            display: flex;
            justify-content: space-between;
            font-family: $fontfamily;
            font-weight: lighter;
            margin-bottom: 20px;
            transition: 0.3s ease;
            svg {
                width: 25px;

            }
            span {
                display: flex;
                width: 80%;
                margin-left: 10px;
            }
        }        
        li:hover {
            cursor: pointer;
            color: rgb(228, 226, 226);
        }
        
        .titlenav {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 80%;
            height: 20%;
            text-align: center;
            font-family: $fontfamily;
            font-weight: 900;
            margin-top: 10px;
            h1 {
            cursor: pointer;

            }
        }
        .list {
            display: flex;
            flex-direction: column;
            width: 80%;
            height: 60%;
            align-items: flex-start;
            justify-content: start;
        }
        .settings {
            width: 80%;
            height: 20%;
        }
    }
    .content {
        width: 80%;
    }
}